body{

    margin:0;

    width:100vw;
    height:100vh;

    background:#111;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:sans-serif;

}



#app{

    width:90%;

    max-width:1000px;

    text-align:center;

}



h1{

    font-size:48px;

    margin-bottom:40px;

}



button{

    display:block;

    width:300px;

    margin:15px auto;

    padding:15px;

    font-size:22px;

    border-radius:10px;

    cursor:pointer;

}



.cardList{

    display:grid;

    grid-template-columns:repeat(auto-fit, minmax(180px,1fr));

    gap:10px;

    max-height:500px;

    overflow-y:auto;

}



.card{

    border:1px solid white;

    padding:10px;

    cursor:pointer;

}



.deckArea{

    margin-top:20px;

    border:1px solid white;

    padding:10px;

}
